<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Hsf.ApplicatonProcess.August2020.Blazor</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Applicants list
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="adddata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Applicant add
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="/swagger/index.html">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Swagger doc
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
